.main {
    text-align: center;

}
.item-1,
.item-2,
.item-3,
.item-4 {
    height: 650px;
    width: 250px;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
}

img {
    width: 100%;
    vertical-align: top;
}

h1 {
    font-size: x-large;
    text-align: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    text-align: center;
}